#list{
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f0f0f0;
    color: rgb(240, 166, 70);
    font-family: Arial, sans-serif;
    border: solid-Black 1px;
    border-radius: 10px;
}

.my