#div1 {
    background-color: lightblue;
    padding: 20px;
    border: 2px solid blue;
    margin: 10px;
    display: block;
    width: 200px;
    height: 100px;
}

.dark {
    color: white;
    background-color: black;
}

.light {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}