#list{
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f0f0f0;
    color: rgb(240, 166, 70);
    font-family: Arial, sans-serif;
    border: solid-Black 1px;
    border-radius: 10px;
}

.myH{
    color: rgb(240, 166, 70);
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: aqua;
}

.newclass {
    color: rgb(113, 139, 0);
    background-color: bisque;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}